<div id="page-content">
  <h1 class="text-center mt-4"> Modifié une réservation </h1>
<div class="container">
	<%= render 'form' %>
	<%= link_to 'Annulé la réservation', reservation_path(@reservation), method: :delete,  class:"btn btn-sm btn-outline-danger" %>
</div>
</div>