<p>Liste des réservation </p>

<h1 class="text-center mt-4">Listing all articles</h1>

<div class="apple_pagination">
  <%= will_paginate @reservations, :container => false %>
</div>

<%= render 'reservation' %>

<div class="apple_pagination mb-4">
  <%= will_paginate @reservations, :container => false %>
</div>