<h1> Modifier la description de la chambre. </h1>


<%= render 'form' %>

  <p>
     <%= link_to 'Effacer', room_path(@room), method: :delete, data: {confirm: "Ëtes-vous sur? "} %> 
     <%= link_to 'Retour au chambres', rooms_path %>
    </p>